/* Within style.css:
Style the background
Give the site a new background color
Style the text
Change the font
Make your headers bold
Change the color
Style your images
Customize the height and width
Put a border around your images
If you have time add other styling
Validate your pages to ensure accessible styling
 */

body{
    background-color:rgb(216, 239, 255);
	font-family:'Courier New', Courier, monospace
}

h1,h2,h3{
	font-weight: bold;
	font-size: 24px;
    background-color: rgb(82, 131, 222);
	color:white
}

img{
	max-width:200px;
	margin:auto;
	border:5px solid pink;
}

p{
    border: 1px solid #4682b4;
    padding: 10px;
    background-color: #f0f8ff;
    color: #333;
}
